@import url('https://fonts.googleapis.com/css2?family=Silkscreen&display=swap');

:root{
  --main-bg-color: rgb(29, 53, 87);
  --div-color: rgb(69, 123, 157);
  --header-color: rgb(168, 218, 220);
  --text-color: rgb(241, 250, 238);
  --warn-color: rgb(230, 57, 70);
}
body {
  display: flex;
  margin: 0;
  font-family: 'Silkscreen', cursive;
}
#watermark{
  width: 20%;
  display: flex;
  position: absolute;
  z-index: 999;
  bottom: 0;
  right: 0;
  opacity: 0.2;
  margin: 0;
  padding: 0;
}
#guide{
  display: none;
  /* display: flex; */
  flex-direction: column;
  background-color: var(--div-color);
  justify-content: center;
  align-items: center;
  text-align: center;
  width: 100%;
  height: 100vh;
  z-index: 1000;
  
}
.diceimg{
  display: none;
  border: 1px solid black;
  border-radius: 5px;
  height: 40px;
  background-color: white;
  box-shadow: 2px 2px 2px black;
}
.screenshot{
  width: 20%;
}
#oneimg{
  width: 40px;
  border: 1px solid black;
  border-radius: 5px;
  background-color: white;
  box-shadow: 2px 2px 2px black;
}
#startgame {
  display: flex;
  position: absolute;
  background-color: var(--main-bg-color);
  height: 100vh;
  width: 100vw;
  z-index: 11;
  justify-content: center;
  align-items: center;
  /* display: none; */
}
#fullscreen {
  background-color: var(--header-color);
  height: 100vh;
  width: 100vw;
}
#onePstart:hover, #twoPstart:hover, #howto:hover {
  color: green;
  font-size: 30px;
}
#menuButton {
  display: flex;
  position: absolute;
  align-items: center;
  height: 200px;
  width: 200px;
  justify-content: space-around;
}
.burger {
  display: flex;
  background-color: black;
  align-items: center;
  justify-content: flex-end;
  height: 10px;
  width: 50px;
  border: 1 solid black;
  right: 0px;
  border-radius: 5px;
  margin-top: 5px;
  margin-right: 15px;
  box-shadow: 2px 2px var(--main-bg-color);
}
#topbar {
  display: flex;
  position: absolute;
  background-color: var(--header-color);
  top: 0;
  width: 100%;
  height: 12%;
  justify-content: flex-end;
  align-items: center;
  /* height: auto; */
}
#topbar h1{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  color: var(--div-color);
}
#title{
  display: flex;
  align-items: center;
  flex-direction: column;
  align-items: center;
  margin-left: auto;
  margin-right: auto;
  position: relative;
  justify-content: center;
}
#game1, #game2 {
  display: none;
  justify-content: center;
  align-items: center;
  background-color: var(--main-bg-color);
  height: 100%;
  width: 100%;
  z-index: 11;
}
#history {
  display: flex;
  flex-direction: column;
  background-color: grey;
  border-radius: 5px;
  min-height: 100px;
  min-width: 140px;
  max-width: 200px;
  box-shadow: 5px 5px black;
  /* max-height: 200px; */
}
#history img {
  margin: 2px;
  background-color: white;
  height: 20px;
  border: 1px solid black;
  border-radius: 3px;
  box-shadow: 1px 1px black;
}
#container1 {
  display: flex;
  flex-direction: column;
  background-color: var(--div-color);
  border: 1px solid black;
  border-radius: 5px;
  height: 300px;
  width: 200px;
  align-items: center;
  justify-content: center;
  box-shadow: 5px 5px black;
}
p {
  justify-content: center;
  color: white;
  font-size: 25px;
  text-align: center;
  margin: 5px;
  /* padding-bottom: 15px; */
}
#resume {
  display: none;
}
#win {
  display: none;
  justify-content: center;
  align-items: center;
  position: absolute;
  background-color: var(--warn-color);
  height: 100%;
  width: 100%;
  z-index: 99;
}
#lose {
  display: none;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: absolute;
  background-color: var(--warn-color);
  height: 100%;
  width: 100%;
  z-index: 99;
}
#losebtn, #winbtn, #hidelose, #rollDie, #rollDie2{
    margin: 5px;
    padding: 15px;
    border: 1px;
    border-radius: 5px;
    box-shadow: 5px 5px black;
    font-family: 'Silkscreen', cursive;
}
#losebtn:hover, #winbtn:hover, #hidelose:hover, #rollDie:hover, #rollDie2:hover{
background-color: var(--header-color);
}
#losebtn:active, #winbtn:active, #hidelose:active, #rollDie:active, #rollDie2:active{
  background-color: var(--main-bg-color);
  box-shadow: none;
  }
#player1, #player2{
    background-color: var(--div-color);
    height: auto;
    width: auto;
    border: 1px solid black;
    border-radius: 5px;
    box-shadow: 5px 5px black;
}
#player1:hover, #player2:hover{
  background-color: var(--warn-color);
}

@keyframes rolldiceanim {
  0%, 100%{
    background-color: white;
    box-shadow: 2px 2px 2px black;
  }
  10%, 90% {
    transform: translate3d(-1px, 1px, 0);
    background-color: green;
    content:url(images/6.png);
    box-shadow: 2px 2px 2px purple;
  }
  
  20%, 80% {
    transform: translate3d(2px, -1px, 0);
    background-color: red;
    content:url(images/1.png);
    box-shadow: 2px 2px 2px green;
  }

  30%, 50%, 70% {
    transform: translate3d(-4px, 2px, 0);
    background-color: blueviolet;
    content:url(images/3.png);
    box-shadow: 2px 2px 2px blue;
  }

  40%, 60% {
    transform: translate3d(4px, -3px, 0);
    background-color: cornflowerblue;
    content:url(images/2.png);
    box-shadow: 2px 2px 2px purple;
  }
}